version: "3.9"

services:

  user-service:
    build: ./user-service
    ports:
      - "8001:8001"

  product-service:
    build: ./product-service
    ports:
      - "8002:8002"

  order-service:
    build: ./order-service
    ports:
      - "8003:8003"
    depends_on:
      - user-service
      - product-service

  gateway-service:
    build: ./gateway-service
    ports:
      - "8000:8000"
    depends_on:
      - user-service
      - product-service
      - order-service